@layout('layouts.main1')

@section('extracss')
{{ style('aii') }}
@endsection

@section('content')

<div class="header-text">
	<h1>Aii - One Stop Mens Fashionware</h1>
</div>

<div >
<a href='https://play.google.com/store/apps/details?id=com.dev.aii&hl=en_IN'><img alt='Get it on Google Play' class="download-button" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
</div>
@endsection
