<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Aii</title>
  {{ style('style') }}
</head>
<body background="bg">
  <center>
    <h1><font color="white">Aii</font></h1>
  </br>
</br>
<br>
    <a href="https://play.google.com/store/apps/details?id=com.dev.aii&hl=en_IN">Download Aii from Play Store</a>
  </center>
</body>
</html>
